html{
  background: rgb(218, 218, 218);
}
/* LAYOUT */

.container{
  width: 80vw;
  height: 90vh;
  margin: 0 auto;
  margin-top: 2rem;
}
.app {
  background: #fff;
  padding: 8px;
  border-radius: 6px;
}

.app-main{
  display: flex;
}

/* BASE */
h1,h2,h3,h4,h5,h6{
  margin: 0;
}

ul{
  list-style: none;
  margin-inline-start: 0;
  padding-inline-start: 0;

}

li{
  cursor: pointer
}

button{
  background: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

input{
  outline: none;
  border: none;
}

.bold{
  font-weight: 600;
}

/* SCROLL-BAR */
/*  Scroll Helper   */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(173, 173, 173, 0.692);
  border-radius: 4px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(102, 102, 102, 0.356);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}